/* frontend/src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #0f172a; /* Match your dashboard color */
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

#root {
  width: 100%;
  height: 100%;
}